boto3==1.5.27
botocore==1.8.41
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
django-appconf==1.0.2
django-filter==1.0.4
djangorestframework==3.6.4
dnspython==1.15.0
docutils==0.14
email-validator==1.0.2
factory-boy==2.9.2
Faker==0.8.3
idna==2.6
jmespath==0.9.3
Markdown==2.6.9
olefile==0.44
pilkit==2.0
Pillow==4.2.1
psycopg2==2.7.3.1
PyJWT==1.5.3
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
s3transfer==0.1.12
six==1.11.0
twilio==6.7.1
urllib3==1.22
