{% extends "portal/base.html" %}
{% load static %}

{% block body_block %}
    <section id="content">
      <section class="vbox">
        <section class="scrollable padder">
          <div class="m-b-md">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="m-b-none m-t-sm">Announcements</h3>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <form data-validate="parsley" action="{% url 'portal:announcements' %}" method="post">
                    {% csrf_token %}
                    <section class="panel panel-default">
                      <header class="panel-heading">
                        <span class="h4">Custom Announcements</span>
                      </header>
                      <div class="panel-body">
                        <p class="text-muted">Spread your words with our announcements feature!</p>
                          <label>Send to?</label>
                          <div class="form-group">
                            <div class="radio">
                              <label>
                                <input type="radio" name="send_to" id="1" value="1" checked>
                                All Patients of Related Clinics
                              </label>
                            </div>
                            {% if type == 3 %}
                                <div class="radio">
                                  <label>
                                    <input type="radio" name="send_to" id="2" value="2">
                                    All Doctors of Related Clinics
                                  </label>
                                </div>
                            {% endif %}
                          </div>
                          <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" name="message" rows="6" data-minwords="6" data-required="true" placeholder="Type your message"></textarea>
                          </div>
                      </div>
                      <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success btn-s-xs">Spread the word</button>
                      </footer>
                    </section>
                  </form>
                </div>
          </div>
        </section>
      </section>
    </section>
{% endblock %}