{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% include 'portal/includes/header.html' %}
</head>

<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <section class="vbox">
        {% include 'portal/includes/top_navbar.html' %}
        <section>
          <section class="hbox stretch">
            {% include 'portal/includes/navbar.html' %}
            <section id="content">
                {% block body_block %} {% endblock %}
              <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>
          </section>
        </section>
    </section>
    {% include 'portal/includes/footer_includes.html' %}
</body>
</html>