{% extends "portal/base.html" %}
{% load static %}

{% block body_block %}
    <section id="content">
      <section class="vbox">
        <section class="scrollable padder">
          <div class="m-b-md">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="m-b-none m-t-sm">Operations</h3>
              </div>
            </div>
          </div>
          <div class="m-b-md">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="m-b-none m-t-sm">{{ user.first_name }} {{ user.last_name }}</h3>
              </div>
              <div class="col-sm-6">
                <div class="text-right text-left-xs">
                  <div class="m-t-sm">
                    <span class="text-uc">{{ user.phone }}</span>
                    <div class="h4"><strong>Doctor</strong></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <form class="form-horizontal" data-validate="parsley" action="{% url 'portal:doctor_operations' %}" method="post">
              {% csrf_token %}
                <section class="panel panel-default">
                  <header class="panel-heading">
                    <strong>Mark a Holiday</strong>
                  </header>
                  <div class="panel-body">
                    <p>
                        <small>Allow doctors to mark a future holiday.</small>
                    </p>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Holiday</label>
                        <div class="col-sm-10">
                            <input class="input-sm input-s datepicker-input form-control" name="day" size="16" type="text" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                    <p>
                        <small>All future appointments of the day will be discarded. Notification to all patients will be sent so that they can create a new one with you.</small>
                    </p>
                  </div>
                    <footer class="panel-footer text-right bg-light lter">
                    <button type="submit" class="btn btn-success btn-s-xs">Submit</button>
                  </footer>
                </section>
              </form>
            </div>
            <div class="col-lg-6">
              <section class="panel panel-default">
                  <header class="panel-heading">
                    <strong>Upcoming Holidays</strong>
                  </header>
              </section>
              <section class="comment-list block">
                  {% if holidays|length > 0 %}
                    {% for holiday in holidays %}
                      <article class="comment-item">
                      <span class="arrow left"></span>
                      <section class="comment-body panel panel-default">
                        <header class="panel-heading bg-white">
                          <a>Holiday on {{ holiday.day }}</a>
                        </header>
                        <div class="panel-body">
                            {% if holiday.note|length > 0 %}
                                <div>{{ holiday.note }}</div>
                            {% else %}
                                <div>No note found for this.</div>
                            {% endif %}
                        </div>
                      </section>
                    </article>
                    {% endfor %}
                  {% else %}
                    <p>No Holiday for Future</p>
                  {% endif %}
              </section>
                  <!-- / .comment-list -->
            </div>
          </div>
        </section>
      </section>
    </section>
{% endblock %}