{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include 'portal/includes/header.html' %}
    <body>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissable alert-{{ message.tags }}">
                    <a href="#" class="closebtn" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
            <div class="container aside-xxl">
                <img class="portal-logo" src="{% static 'website/images/logo-light.png' %}">
              <section class="panel panel-default bg-white m-t-lg">
                <header class="panel-heading text-center">
                  <strong>Sign in</strong>
                </header>
                <form class="panel-body wrapper-lg" action="{% url 'portal:login' %}" method="post" >
                    {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label">Phone</label>
                        <input type="text" placeholder="+920001234567" name="phone" class="form-control input-lg">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control input-lg">
                      </div>
                      <button type="submit" class="btn btn-primary">Sign in</button>
                      <div class="line line-dashed"></div>
                        Don't have an account? Learn More!
                      <a href="{% url 'website:home' %}" class="btn btn-default btn-block">Contact Us</a>
                    </form>
                  </section>
                </div>
        </section>
        {% include 'portal/includes/footer_includes.html' %}
    </body>
</html>