{% load static %}

<script src="{% static 'portal/js/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'portal/js/bootstrap.js' %}"></script>
<!-- App -->
<script src="{% static 'portal/js/app.js' %}"></script>
<script src="{% static 'portal/js/app.plugin.js' %}"></script>
<script src="{% static 'portal/js/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'portal/js/charts/easypiechart/jquery.easy-pie-chart.js' %}"></script>
<script src="{% static 'portal/js/charts/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'portal/js/charts/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'portal/js/charts/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'portal/js/charts/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'portal/js/charts/flot/jquery.flot.grow.js' %}"></script>
<script src="{% static 'portal/js/charts/flot/demo.js' %}"></script>

<script src="{% static 'portal/js/calendar/bootstrap_calendar.js' %}"></script>
<script src="{% static 'portal/js/calendar/demo.js' %}"></script>

<script src="{% static 'portal/js/sortable/jquery.sortable.js' %}"></script>

<!-- fuelux -->
<script src="{% static 'portal/js/fuelux/fuelux.js' %}"></script>
<!-- datepicker -->
<script src="{% static 'portal/js/datepicker/bootstrap-datepicker.js' %}"></script>
<!-- slider -->
<script src="{% static 'portal/js/slider/bootstrap-slider.js' %}"></script>
<!-- file input -->
<script src="{% static 'portal/js/file-input/bootstrap-filestyle.min.js' %}"></script>
<!-- combodate -->
<script src="{% static 'portal/js/libs/moment.min.js' %}"></script>
<script src="{% static 'portal/js/combodate/combodate.js' %}"></script>
<!-- select2 -->
<script src="{% static 'portal/js/select2/select2.min.js' %}"></script>
<!-- wysiwyg -->
<script src="{% static 'portal/js/wysiwyg/jquery.hotkeys.js' %}"></script>
<script src="{% static 'portal/js/wysiwyg/bootstrap-wysiwyg.js' %}"></script>
<script src="{% static 'portal/js/wysiwyg/demo.js' %}"></script>