<!-- .aside -->
<aside class="bg-light lter b-r aside-md hidden-print" id="nav">
  <section class="vbox">
    <header class="header bg-primary lter text-center clearfix">
        <p>Navigation</p>
    </header>
    <section class="w-f scrollable">
      <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">

        <!-- nav -->
        <nav class="nav-primary hidden-xs">
          <ul class="nav">
            <li >
              <a href="{% url 'portal:profile' %}"  >
                <i class="fa fa-user icon">
                  <b class="bg-nav-portal"></b>
                </i>
                <span>Profile</span>
              </a>
            </li>
            <li >
              <a href="{% url 'portal:home' %}"  >
                <i class="fa fa-bar-chart-o icon">
                  <b class="bg-nav-portal"></b>
                </i>
                <span>Statistics</span>
              </a>
            </li>
            {% if type == 1 %}
            <li >
              <a href="{% url 'portal:doctor_key_factors' user.id %}"  >
                <i class="fa fa-dashboard icon">
                  <b class="bg-nav-portal"></b>
                </i>
                <span>Key Factors</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <!-- / nav -->
      </div>
    </section>
  </section>
</aside>
<!-- /.aside -->