{% load static %}

<!-- start: TOP NAVBAR -->
<header class="navbar navbar-default navbar-static-top">
    <!-- start: NAVBAR HEADER -->
    <div class="navbar-header">
        <a href="{% url 'portal:home' %}">
            <img class="logo" src="{% static 'portal/assets/images/logo-light.png' %}" alt="Quicklic"/>
        </a>
    </div>
    <!-- end: NAVBAR HEADER -->
    <!-- start: NAVBAR COLLAPSE -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-right">
            <!-- start: USER OPTIONS DROPDOWN -->
            <li class="dropdown current-user">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{% static 'portal/assets/images/avatar-1.jpg'%}" alt="Peter"> <span class="username">Peter <i class="ti-angle-down"></i></span>
                </a>
                <ul class="dropdown-menu dropdown-dark">
                    <li>
                        <a href="pages_user_profile.html">
                            My Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'portal:logout' %}">
                            Log Out
                        </a>
                    </li>
                </ul>
            </li>
            <!-- end: USER OPTIONS DROPDOWN -->
        </ul>
    </div>
    <!-- end: NAVBAR COLLAPSE -->
</header>
<!-- end: TOP NAVBAR -->