{% extends "website/base.html" %}
{% load static %}

{% block body_block %}
    {% include 'website/includes/navbar.html' %}
    <!-- Section Hero 1-2 -->
    <section id="section-2-1" class="hero hero-bg-colored hero-bg-6">
        <div class="container">

            <!-- cta -->
            <div class="cta text-center relative z-1">
                <!-- text -->
                <h2 class="b20-1"><span class="strong">Quicklic</span> - Doctor's Partner</h2>
                <p class="b20-2">Provides a simple, yet efficient platform for doctors and patients to connect with each other</p>

                <!-- buttons -->
                <div class="buttons b20-3">
                    <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <span class="text">
                            <span class="little">Get it on</span><br>App Store
                        </span>
                    </a>
                    <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <span class="text">
                            <span class="little">Get it on</span><br>Google Play
                        </span>
                    </a>
                </div>

            </div>
        </div>

        <!-- screen images -->
        <div class="text-center relative z-1">
            <img src="{% static 'website/images/hero-screen.png' %}" alt="hero-screens" />
        </div>
        <!-- overlay -->
        <div class="overlay-colored"></div>

    </section>
    <!-- Section Hero 1-2 end -->

    <!-- Section how it works 2 -->
    <section id="section-2-2" class="work-process colored">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>How It Works</h2>
                <p>It allows patients to find the right doctor, schedule and keep track of their appointments, and also view doctor’s notes later on. This app works as a smart personal assistant for doctors, letting them know about the day’s schedule, upcoming appointments, and patient details.</p>
            </div>

            <div class="row">

                <!-- item 1 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item text-center">
                        <div class="icon-wrap">
                            <span class="step s1-1">1</span>
                            <span class="icon-tools-2"></span>
                        </div>
                        <h3>Work with Builder</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item text-center">
                        <div class="icon-wrap">
                            <span class="step s1-2">2</span>
                            <span class="icon-tools"></span>
                        </div>
                        <h3>Edit the Items</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item text-center">
                        <div class="icon-wrap">
                            <span class="step s1-3">3</span>
                            <span class="icon-layers"></span>
                        </div>
                        <h3>Export a Website</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Section how it works 2 end -->

    <!-- Section features 2 -->
    <section id="section-2-3" class="features-2">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Features</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

            <div class="row">

                <!-- wrap -->
                <div class="features-2-wrap">

                    <!-- features left -->
                    <div class="col-md-4 col-sm-6 col-xs-12 features-left l40-1">

                        <!-- item 1 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-layers icon"></span>
                            </div>
                            <div class="text text-right">
                                <h3>+80 Unique sections</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                        <!-- item 2 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-expand icon"></span>
                            </div>
                            <div class="text text-right">
                                <h3>Drag and drop builder</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                        <!-- item 3 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-laptop icon"></span>
                            </div>
                            <div class="text text-right">
                                <h3>+10 Hero layouts</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                    </div>

                    <!-- image center -->
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <img src="{% static 'website/images/phone-single.png' %}" alt="features" class="b40-1" />
                    </div>

                    <!-- features right -->
                    <div class="col-md-4 col-sm-6 col-xs-12 features-right r40-1">

                        <!-- item 1 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-heart icon"></span>
                            </div>
                            <div class="text">
                                <h3>Stunning design</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                        <!-- item 2 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-documents icon"></span>
                            </div>
                            <div class="text">
                                <h3>Well documented</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                        <!-- item 3 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-chat icon"></span>
                            </div>
                            <div class="text">
                                <h3>24/7 Support</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- Section features 2 end -->

    <!-- Section video 1 -->
    <section id="section-2-4" class="video-1">
        <div class="container text-center relative z-1">

            <!-- button -->
            <div class="button">
                <a href="https://vimeo.com/138540343" class="video-icon">
                    <i class="fa fa-play hvr-push" aria-hidden="true"></i>
                </a>
            </div>
            <!-- text -->
            <h4>Watch the video</h4>
        </div>
        <!-- overlay -->
        <div class="overlay-colored"></div>
    </section>
    <!-- Section video 1 end -->

    <!-- Section screenshots 2 -->
    <section id="section-2-5" class="screenshots">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Screenshots</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

        </div>

        <!-- screenshots 2 wrap -->
        <div class="screenshots-02-wrap">
            <div class="item">
                <img src="{% static 'website/images/screens/1.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/2.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/4.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/5.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/8.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/11.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/1.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/2.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/4.jpg' %}" alt="screenshot" />
            </div>
        </div>

    </section>
    <!-- Section screenshots 2 end -->

    <!-- Section Price 1 -->
    <section id="section-2-6" class="pricing odd">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Choose the Plan</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

            <div class="row">

                <!-- Plan 1 -->
                <div class="col-md-4 col-sm-4 col-xs-12 l40-1">
                    <div class="price-table">
                        <div class="header text-center">
                            <span class="icon-happy"></span>
                            <h2>Personal</h2>
                            <h1><span class="currency">$</span>19</h1>
                        </div>
                        <div class="content">
                            <ul class="list-style">
                                <li>Stunning design</li>
                                <li>Drag and drop page builder</li>
                                <li>+80 Unique section elements</li>
                                <li>No code knowledge required</li>
                                <li>Only in $17</li>
                            </ul>
                        </div>
                        <div class="footer text-center">
                            <a href="#" class="btn btn-default">Purchase</a>
                        </div>
                    </div>
                </div>

                <!-- Plan 2 Recommended -->
                <div class="col-md-4 col-sm-4 col-xs-12 b40-1">
                    <div class="price-table recommended">
                        <div class="header text-center">
                            <span class="icon-heart"></span>
                            <h2>Premium</h2>
                            <h1><span class="currency">$</span>24</h1>
                        </div>
                        <div class="content">
                            <ul class="list-style">
                                <li>Stunning design</li>
                                <li>Drag and drop page builder</li>
                                <li>+80 Unique section elements</li>
                                <li>No code knowledge required</li>
                                <li>Only in $17</li>
                            </ul>
                        </div>
                        <div class="footer text-center">
                            <a href="#" class="btn btn-default">Purchase</a>
                        </div>
                    </div>
                </div>

                <!-- Plan 3 -->
                <div class="col-md-4 col-sm-4 col-xs-12 r40-1">
                    <div class="price-table">
                        <div class="header text-center">
                            <span class="icon-lightbulb"></span>
                            <h2>Ultimate</h2>
                            <h1><span class="currency">$</span>40</h1>
                        </div>
                        <div class="content">
                            <ul class="list-style">
                                <li>Stunning design</li>
                                <li>Drag and drop page builder</li>
                                <li>+80 Unique section elements</li>
                                <li>No code knowledge required</li>
                                <li>Only in $17</li>
                            </ul>
                        </div>
                        <div class="footer text-center">
                            <a href="#" class="btn btn-default">Purchase</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Section Price 1 end -->

    <!-- Section review 1 -->
    <section id="section-2-7" class="reviews reviews-parallax">
        <div class="container container-600 z-1 relative">

            <!-- wrapper -->
            <div class="reviews-slide-2">
                <!-- Item 1 -->
                <div class="item">
                    <div class="user">
                        <div class="info clearfix">
                            <h3>- Steve Doe</h3>
                            <span>Position at Company</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
                <!-- Item 2 -->
                <div class="item">
                    <div class="user">
                        <div class="info clearfix">
                            <h3>- John Doe</h3>
                            <span>Ceo of Company</span>
                        </div>
                    </div>
                    <p>Has ne albucius deseruisse, eu sea diceret definitiones. Qui an graeci iriure minimum facilisi salutandi vix ad. Mel zril antiopam platonem ut an delenit consequuntur vel ex vis doctus viderer gloriatur.</p>
                </div>
                <!-- Item 3 -->
                <div class="item">
                    <div class="user">
                        <div class="info clearfix">
                            <h3>- Johnatan Doe</h3>
                            <span>Ceo of Company</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
            </div>

            <!-- thumbnail navigation -->
            <div class="reviews-nav">
                <!-- item 1 -->
                <div class="thumb">
                    <img src="{% static 'website/images/team1.png' %}" alt="review" />
                </div>
                <!-- item 2 -->
                <div class="thumb">
                    <img src="{% static 'website/images/team2.png' %}" alt="review" />
                </div>
                <!-- item 3 -->
                <div class="thumb">
                    <img src="{% static 'website/images/team3.png' %}" alt="review" />
                </div>
            </div>

        </div>

        <div class="overlay-dark"></div>

    </section>
    <!-- Section review 1 end -->

    <!-- Section team -->
    <section id="section-2-8" class="team">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>The Team</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

            <div class="row"><!-- row -->

                <!-- item 1 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="{% static 'website/images/team1.jpg' %}" alt="team" />
                        </div>
                        <h3>John Doe</h3>
                        <span>Ceo Founder & Developer</span>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="{% static 'website/images/team2.jpg' %}" alt="team" />
                        </div>
                        <h3>Steve Doe</h3>
                        <span>Frontend Developer</span>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="{% static 'website/images/team3.jpg' %}" alt="team" />
                        </div>
                        <h3>Johnatan Doe</h3>
                        <span>UI/UX Designer</span>
                    </div>
                </div>

                <!-- item 4 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="{% static 'website/images/team4.jpg' %}" alt="team" />
                        </div>
                        <h3>Jack Doe</h3>
                        <span>The Developer</span>
                    </div>
                </div>

            </div><!-- row end -->

        </div>
    </section>
    <!-- Section team end -->

    <!-- Section blog 1 -->
    <section id="section-2-9" class="blog">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Recent Posts</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

            <div class="row">

                {% if blogs %}
                    {% for blog in blogs %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="item">
                                <div class="thumb">
                                    <div class="icon-wrap">
                                        <a href="{% url 'website:blog' blog.id %}">
                                            <span class="icon-attachment icon"></span>
                                        </a>
                                    </div>
                                    <div class="overlay"></div>
                                    <img src="{{ blog.image.url }}" alt="blog" />
                                </div>
                                <h2 class="title"><a href="{% url 'website:blog' blog.id %}">{{ blog.title }}</a></h2>
                                <span class="date">Posted on {{ blog.created_at }}</span>
                                <a href="{% url 'website:blog' blog.id %}" class="btn btn-default">Read</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>

        </div>
    </section>
    <!-- Section blog 1 end -->

    <!-- Section download 2 -->
    <section id="section-2-10" class="download-cta-2 colored">

        <div class="container">
            <div class="row flex">

                <div class="col-md-8 col-sm-12 col-xs-12">
                    <!-- cta -->
                    <div class="cta">
                        <h2>Let's start with Quicklic</h2>
                        <p>the ultimate replacement for any and all manual logistics for a hospital automating their entire scheduling processes</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- cta buttons -->
                    <div class="cta text-center">
                        <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                            <span class="text">
                                <span class="little">Get it on</span><br>App Store
                            </span>
                        </a>
                        <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                            <i class="fa fa-android" aria-hidden="true"></i>
                            <span class="text">
                                <span class="little">Get it on</span><br>Google Play
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- Section download 2 end -->

    <!-- Section contact -->
    <section id="section-2-11" class="contact">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Get In Touch / Request a Demo</h2>
                <p>Need any kind of information or want to request for a demo.</p>
            </div>

            <div class="container container-600">

                <!-- forms -->
                <form method="post" action="{% url 'website:contact-us' %}">
                    {% csrf_token %}
                    <div class="row"><!-- Row -->

                        <div class="col-md-12 col-sm-12 col-xs-12"><!-- Name input -->
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Your name" required>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12"><!-- Email input -->
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12"><!-- Email input -->
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12"><!-- Subject input -->
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12"><!-- Message textarea -->
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control" rows="6" placeholder="Message" required></textarea>
                            </div>
                        </div>

                    </div><!-- Row end -->

                    <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default btn-icon pull-left"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send message</button><!-- Send Button -->

                </form>

            </div>
        </div>
    </section>
    <!-- Section contact end -->

{% endblock %}