{% extends "website/base.html" %}
{% load static %}

{% block body_block %}
    {% include 'website/includes/navbar.html' %}
    <!-- Section Hero 1-2 -->
    <section id="section-2-1" class="hero hero-bg-colored hero-bg-6">
        <div class="container">

            <!-- cta -->
            <div class="cta text-center relative z-1">
                <!-- Logo -->
                <p><img src="{% static "website/images/logo-light.png" %}"></p>
                <!-- Logo end -->

                <!-- text -->
                <p class="b20-2">Quicklic provides a simple, yet efficient platform for doctors and patients to connect with each other. Quicklic is the ultimate replacement for any and all manual logistics for a hospital automating their entire scheduling processes.</p>

                <!-- buttons -->
                <div class="buttons b20-3">
                    <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <span class="text">
                            <span class="little">Get it on</span><br>App Store
                        </span>
                    </a>
                    <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <span class="text">
                            <span class="little">Get it on</span><br>Google Play
                        </span>
                    </a>
                </div>

            </div>
        </div>

        <!-- screen images -->
        <div class="text-center relative z-1">
            <img src="{% static 'website/images/hero-screen.png' %}" alt="hero-screens" />
        </div>
        <!-- overlay -->
        <div class="overlay-colored"></div>

    </section>
    <!-- Section Hero 1-2 end -->

    <!-- Section how it works 2 -->
    <section id="section-2-2" class="work-process colored">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>How It Works</h2>
                <p>It allows patients to find the right doctor, schedule and keep track of their appointments, and also view doctor’s notes later on. This app works as a smart personal assistant for doctors, letting them know about the day’s schedule, upcoming appointments, and patient details.</p>
            </div>

            <div class="row">

                <!-- item 1 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item text-center">
                        <div class="icon-wrap">
                            <span class="step s1-1">1</span>
                            <span class="icon-calendar"></span>
                        </div>
                        <h3>Book Appointments</h3>
                        <p>Quicklic allows you to book appointments with your doctor at the time of your choice very easily.</p>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item text-center">
                        <div class="icon-wrap">
                            <span class="step s1-2">2</span>
                            <span class="icon-alarmclock"></span>
                        </div>
                        <h3>Get Notifications</h3>
                        <p>You will get notifications when the doctor accepts the appointment, and when the appointment is near.</p>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item text-center">
                        <div class="icon-wrap">
                            <span class="step s1-3">3</span>
                            <span class="icon-documents"></span>
                        </div>
                        <h3>View Visit history</h3>
                        <p>You can view the entire history of your visits along with notes added by the doctors against it..</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Section how it works 2 end -->

    <!-- Section features 2 -->
    <section id="section-2-3" class="features-2">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Features</h2>
                <p>Quicklic hosts some of the most amazing features to make your appointment scheduling experience as smooth as possible.</p>
            </div>

            <div class="row">

                <!-- wrap -->
                <div class="features-2-wrap">

                    <!-- features left -->
                    <div class="col-md-4 col-sm-6 col-xs-12 features-left l40-1">

                        <!-- item 1 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-calendar icon"></span>
                            </div>
                            <div class="text text-right">
                                <h3>Book Appointment with Any Doctor</h3>
                                <p>Now you can select and book appointment for any doctor for a clinic at any time slot.</p>
                            </div>
                        </div>

                        <!-- item 2 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-documents icon"></span>
                            </div>
                            <div class="text text-right">
                                <h3>Appointment History</h3>
                                <p>View a history of all your appointments, and filter as needed.</p>
                            </div>
                        </div>

                        <!-- item 3 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-alarmclock icon"></span>
                            </div>
                            <div class="text text-right">
                                <h3>Push Notifications</h3>
                                <p>Receive notifications on every step of the appointment to always be up to date about the progress.</p>
                            </div>
                        </div>

                    </div>

                    <!-- image center -->
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <img src="{% static 'website/images/phone-single.png' %}" alt="features" class="b40-1" />
                    </div>

                    <!-- features right -->
                    <div class="col-md-4 col-sm-6 col-xs-12 features-right r40-1">

                        <!-- item 1 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-magnifying-glass icon"></span>
                            </div>
                            <div class="text">
                                <h3>Medical Tests</h3>
                                <p>View information about medical tests along with prices and best locations.</p>
                            </div>
                        </div>

                        <!-- item 2 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-laptop icon"></span>
                            </div>
                            <div class="text">
                                <h3>Smart stats for doctors</h3>
                                <p>Doctors receive smart stats and actionable insights for all their patients.</p>
                            </div>
                        </div>

                        <!-- item 3 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-chat icon"></span>
                            </div>
                            <div class="text">
                                <h3>24/7 Support</h3>
                                <p>We provide 24/7 support to doctors and clinics for all their queries and concerns.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- Section features 2 end -->

{#    <!-- Section video 1 -->#}
{#    <section id="section-2-4" class="video-1">#}
{#        <div class="container text-center relative z-1">#}
{##}
{#            <!-- button -->#}
{#            <div class="button">#}
{#                <a href="https://vimeo.com/138540343" class="video-icon">#}
{#                    <i class="fa fa-play hvr-push" aria-hidden="true"></i>#}
{#                </a>#}
{#            </div>#}
{#            <!-- text -->#}
{#            <h4>Watch the video</h4>#}
{#        </div>#}
{#        <!-- overlay -->#}
{#        <div class="overlay-colored"></div>#}
{#    </section>#}
{#    <!-- Section video 1 end -->#}

    <!-- Section review 1 -->
    <section id="section-2-7" class="reviews reviews-parallax">
        <div class="container container-600 z-1 relative">

            <!-- wrapper -->
            <div class="reviews-slide-2">
                <!-- Item 1 -->
                <div class="item">
                    <div class="user">
                        <div class="info clearfix">
                            <h3>- Steve Doe</h3>
                            <span>Position at Company</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
                <!-- Item 2 -->
                <div class="item">
                    <div class="user">
                        <div class="info clearfix">
                            <h3>- John Doe</h3>
                            <span>Ceo of Company</span>
                        </div>
                    </div>
                    <p>Has ne albucius deseruisse, eu sea diceret definitiones. Qui an graeci iriure minimum facilisi salutandi vix ad. Mel zril antiopam platonem ut an delenit consequuntur vel ex vis doctus viderer gloriatur.</p>
                </div>
                <!-- Item 3 -->
                <div class="item">
                    <div class="user">
                        <div class="info clearfix">
                            <h3>- Johnatan Doe</h3>
                            <span>Ceo of Company</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
            </div>

            <!-- thumbnail navigation -->
            <div class="reviews-nav">
                <!-- item 1 -->
                <div class="thumb">
                    <img src="{% static 'website/images/team1.png' %}" alt="review" />
                </div>
                <!-- item 2 -->
                <div class="thumb">
                    <img src="{% static 'website/images/team2.png' %}" alt="review" />
                </div>
                <!-- item 3 -->
                <div class="thumb">
                    <img src="{% static 'website/images/team3.png' %}" alt="review" />
                </div>
            </div>

        </div>

        <div class="overlay-dark"></div>

    </section>
    <!-- Section review 1 end -->

    <!-- Section screenshots 2 -->
    <section id="section-2-5" class="screenshots">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Screenshots</h2>
                <p>Quicklic is built on a clean and modular UI which is easy to use for users of all age</p>
            </div>

        </div>

        <!-- screenshots 2 wrap -->
        <div class="screenshots-02-wrap">
            <div class="item">
                <img src="{% static 'website/images/screens/1.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/2.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/4.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/5.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/8.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/11.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/1.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/2.jpg' %}" alt="screenshot" />
            </div>
            <div class="item">
                <img src="{% static 'website/images/screens/4.jpg' %}" alt="screenshot" />
            </div>
        </div>

    </section>
    <!-- Section screenshots 2 end -->

{#    <!-- Section Price 1 -->#}
{#    <section id="section-2-6" class="pricing odd">#}
{#        <div class="container">#}
{##}
{#            <!-- section header -->#}
{#            <div class="section-header text-center">#}
{#                <h2>Choose the Plan</h2>#}
{#                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>#}
{#            </div>#}
{##}
{#            <div class="row">#}
{##}
{#                <!-- Plan 1 -->#}
{#                <div class="col-md-4 col-sm-4 col-xs-12 l40-1">#}
{#                    <div class="price-table">#}
{#                        <div class="header text-center">#}
{#                            <span class="icon-happy"></span>#}
{#                            <h2>Personal</h2>#}
{#                            <h1><span class="currency">$</span>19</h1>#}
{#                        </div>#}
{#                        <div class="content">#}
{#                            <ul class="list-style">#}
{#                                <li>Stunning design</li>#}
{#                                <li>Drag and drop page builder</li>#}
{#                                <li>+80 Unique section elements</li>#}
{#                                <li>No code knowledge required</li>#}
{#                                <li>Only in $17</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="footer text-center">#}
{#                            <a href="#" class="btn btn-default">Purchase</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Plan 2 Recommended -->#}
{#                <div class="col-md-4 col-sm-4 col-xs-12 b40-1">#}
{#                    <div class="price-table recommended">#}
{#                        <div class="header text-center">#}
{#                            <span class="icon-heart"></span>#}
{#                            <h2>Premium</h2>#}
{#                            <h1><span class="currency">$</span>24</h1>#}
{#                        </div>#}
{#                        <div class="content">#}
{#                            <ul class="list-style">#}
{#                                <li>Stunning design</li>#}
{#                                <li>Drag and drop page builder</li>#}
{#                                <li>+80 Unique section elements</li>#}
{#                                <li>No code knowledge required</li>#}
{#                                <li>Only in $17</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="footer text-center">#}
{#                            <a href="#" class="btn btn-default">Purchase</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Plan 3 -->#}
{#                <div class="col-md-4 col-sm-4 col-xs-12 r40-1">#}
{#                    <div class="price-table">#}
{#                        <div class="header text-center">#}
{#                            <span class="icon-lightbulb"></span>#}
{#                            <h2>Ultimate</h2>#}
{#                            <h1><span class="currency">$</span>40</h1>#}
{#                        </div>#}
{#                        <div class="content">#}
{#                            <ul class="list-style">#}
{#                                <li>Stunning design</li>#}
{#                                <li>Drag and drop page builder</li>#}
{#                                <li>+80 Unique section elements</li>#}
{#                                <li>No code knowledge required</li>#}
{#                                <li>Only in $17</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="footer text-center">#}
{#                            <a href="#" class="btn btn-default">Purchase</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </section>#}
{#    <!-- Section Price 1 end -->#}

    <!-- Section team -->
    <section id="section-2-8" class="team colored">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>The Team</h2>
            </div>

            <div class="row"><!-- row -->

                <!-- item 1 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/jawad.khalil.5220"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="{% static 'website/images/jawad.jpg' %}" alt="team" />
                        </div>
                        <h3>Jawad Khalil</h3>
                        <span>Co-Founder</span>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/aamish.baloch"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/aamishbaloch/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="{% static 'website/images/aamish.jpg' %}" alt="team" />
                        </div>
                        <h3>Aamish Baloch</h3>
                        <span>Co-Founder & CTO</span>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/abdulrehmanbasim"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/abdulrehmanbasim/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="{% static 'website/images/basim.jpg' %}" alt="team" />
                        </div>
                        <h3>Abdur Rehman Basim</h3>
                        <span>Developer</span>
                    </div>
                </div>

                <!-- item 4 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/danial.zahid"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/danialzahid/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="{% static 'website/images/danial.jpg' %}" alt="team" />
                        </div>
                        <h3>Danial Zahid</h3>
                        <span>Developer</span>
                    </div>
                </div>

            </div><!-- row end -->

        </div>
    </section>
    <!-- Section team end -->

    <!-- Section blog 1 -->
    <section id="section-2-9" class="blog">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Recent Posts</h2>
            </div>

            <div class="row">

                {% if blogs %}
                    {% for blog in blogs %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="item">
                                <div class="thumb">
                                    <div class="icon-wrap">
                                        <a href="{% url 'website:blog' blog.id %}">
                                            <span class="icon-attachment icon"></span>
                                        </a>
                                    </div>
                                    <div class="overlay"></div>
                                    <img src="{{ blog.image.url }}" alt="blog" />
                                </div>
                                <h2 class="title"><a href="{% url 'website:blog' blog.id %}">{{ blog.title }}</a></h2>
                                <span class="date">Posted on {{ blog.created_at }}</span>
                                <a href="{% url 'website:blog' blog.id %}" class="btn btn-default">Read</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="section-header text-center">
                        <p>No Blog Posts Found</p>
                    </div>
                {% endif %}

            </div>

        </div>
    </section>
    <!-- Section blog 1 end -->

    <!-- Section download 2 -->
    <section id="section-2-10" class="download-cta-2 colored">

        <div class="container">
            <div class="row flex">

                <div class="col-md-8 col-sm-12 col-xs-12">
                    <!-- cta -->
                    <div class="cta">
                        <h2>Let's start with Quicklic</h2>
                        <p>the ultimate replacement for any and all manual logistics for a hospital automating their entire scheduling processes</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- cta buttons -->
                    <div class="cta text-center">
                        <a href="#" class="btn btn-light btn-download hvr-float-shadow">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                            <span class="text">
                                <span class="little">Get it on</span><br>App Store
                            </span>
                        </a>
                        <a href="#" class="btn btn-light btn-download hvr-float-shadow">
                            <i class="fa fa-android" aria-hidden="true"></i>
                            <span class="text">
                                <span class="little">Get it on</span><br>Google Play
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- Section download 2 end -->

    <!-- Section contact -->
    <section id="section-2-11" class="contact">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Get In Touch / Request a Demo</h2>
                <p>Need any kind of information or want to request for a demo.</p>
            </div>

            <div class="container container-600">

                <!-- forms -->
                <form method="post" action="{% url 'website:contact-us' %}">
                    {% csrf_token %}
                    <div class="row"><!-- Row -->

                        <div class="col-md-12 col-sm-12 col-xs-12"><!-- Name input -->
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Your name" required>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12"><!-- Email input -->
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12"><!-- Email input -->
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12"><!-- Subject input -->
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12"><!-- Message textarea -->
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control" rows="6" placeholder="Message" required></textarea>
                            </div>
                        </div>

                    </div><!-- Row end -->

                    <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default btn-icon pull-left"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send message</button><!-- Send Button -->

                </form>

            </div>
        </div>
    </section>
    <!-- Section contact end -->

{% endblock %}