{% extends "website/base.html" %}
{% load static %}

{% block body_block %}
    <!-- Preloader -->
    <div class="preloader-outer">
        <div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar"></div>
    </div>

    <!-- Navbar 2-1 -->
    <nav class="navbar navbar-default navbar-light navbar-fixed-top">
        <div class="container">
            <div class="navbar-header flex">
                <button aria-controls="navbar" aria-expanded="false" class=
                "navbar-toggle collapsed" data-target="#navbar" data-toggle=
                "collapse" type="button"><span class="sr-only">Toggle
                navigation</span> <span class="icon-bar"></span> <span class=
                "icon-bar"></span> <span class="icon-bar"></span></button>

                <!-- Logo -->
                <a class="navbar-brand" href="#section-2-1">Quicklic</a>
                <span class="slogan">Doctor's Partner</span>
                <!-- Logo end -->

            </div>
            <div class="navbar-collapse collapse" id="navbar">

                <div class="navbar-right">

                    <!-- Menu -->
                    <ul id="slide-menu" class="nav navbar-nav">
                        <li>
                            <a href="#section-2-1">Home</a>
                        </li>
                        <li>
                            <a href="#section-2-2">How It Works</a>
                        </li>
                        <li>
                            <a href="#section-2-3">Features</a>
                        </li>
                        <li>
                            <a href="#section-2-5">Screenshots</a>
                        </li>
                        <li>
                            <a href="#section-2-7">Team</a>
                        </li>
                        <li>
                            <a href="#section-2-10">Download</a>
                        </li>
                    </ul>
                    <!-- Menu end -->

                    <div class="nav navbar-nav navicon-wrap">
                        <span class="navicon"></span>
                    </div>

                    <ul class="nav navbar-nav social">
                        <li><a href="#" class="external"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="external"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>

                </div>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- Navbar 2-1 end -->

    <!-- Section Hero 1-2 -->
    <section id="section-2-1" class="hero hero-bg-colored hero-bg-6">
        <div class="container">

            <!-- cta -->
            <div class="cta text-center relative z-1">
                <!-- text -->
                <h2 class="b20-1"><span class="strong">Quicklic</span> - Doctor's Partner</h2>
                <p class="b20-2">Provides a simple, yet efficient platform for doctors and patients to connect with each other</p>

                <!-- buttons -->
                <div class="buttons b20-3">
                    <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <span class="text">
                            <span class="little">Get it on</span><br>App Store
                        </span>
                    </a>
                    <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <span class="text">
                            <span class="little">Get it on</span><br>Google Play
                        </span>
                    </a>
                </div>

            </div>
        </div>

        <!-- screen images -->
        <div class="text-center relative z-1">
            <img src="{% static 'website/images/hero-screen.png' %}" alt="hero-screens" />
        </div>
        <!-- overlay -->
        <div class="overlay-colored"></div>

    </section>
    <!-- Section Hero 1-2 end -->

    <!-- Section how it works 2 -->
    <section id="section-2-2" class="work-process colored">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>How It Works</h2>
                <p>It allows patients to find the right doctor, schedule and keep track of their appointments, and also view doctor’s notes later on. This app works as a smart personal assistant for doctors, letting them know about the day’s schedule, upcoming appointments, and patient details.</p>
            </div>

            <div class="row">

                <!-- item 1 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item text-center">
                        <div class="icon-wrap">
                            <span class="step s1-1">1</span>
                            <span class="icon-tools-2"></span>
                        </div>
                        <h3>Work with Builder</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item text-center">
                        <div class="icon-wrap">
                            <span class="step s1-2">2</span>
                            <span class="icon-tools"></span>
                        </div>
                        <h3>Edit the Items</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="item text-center">
                        <div class="icon-wrap">
                            <span class="step s1-3">3</span>
                            <span class="icon-layers"></span>
                        </div>
                        <h3>Export a Website</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Section how it works 2 end -->

    <!-- Section features 2 -->
    <section id="section-2-3" class="features-2">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Features</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

            <div class="row">

                <!-- wrap -->
                <div class="features-2-wrap">

                    <!-- features left -->
                    <div class="col-md-4 col-sm-6 col-xs-12 features-left l40-1">

                        <!-- item 1 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-layers icon"></span>
                            </div>
                            <div class="text text-right">
                                <h3>+80 Unique sections</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                        <!-- item 2 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-expand icon"></span>
                            </div>
                            <div class="text text-right">
                                <h3>Drag and drop builder</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                        <!-- item 3 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-laptop icon"></span>
                            </div>
                            <div class="text text-right">
                                <h3>+10 Hero layouts</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                    </div>

                    <!-- image center -->
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <img src="{% static 'website/images/phone-single.png' %}" alt="features" class="b40-1" />
                    </div>

                    <!-- features right -->
                    <div class="col-md-4 col-sm-6 col-xs-12 features-right r40-1">

                        <!-- item 1 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-heart icon"></span>
                            </div>
                            <div class="text">
                                <h3>Stunning design</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                        <!-- item 2 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-documents icon"></span>
                            </div>
                            <div class="text">
                                <h3>Well documented</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                        <!-- item 3 -->
                        <div class="item clearfix">
                            <div class="feature-icon">
                                <span class="icon-chat icon"></span>
                            </div>
                            <div class="text">
                                <h3>24/7 Support</h3>
                                <p>Ponderum inimicus tractatos vis in doming nostrud eu sit graece doming reprimique efficiantur pro.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- Section features 2 end -->

    <!-- Section video 1 -->
    <section id="section-2-4" class="video-1">
        <div class="container text-center relative z-1">

            <!-- button -->
            <div class="button">
                <a href="https://vimeo.com/138540343" class="video-icon">
                    <i class="fa fa-play hvr-push" aria-hidden="true"></i>
                </a>
            </div>
            <!-- text -->
            <h4>Watch the video</h4>
        </div>
        <!-- overlay -->
        <div class="overlay-colored"></div>
    </section>
    <!-- Section video 1 end -->

    <!-- Section screenshots 2 -->
    <section id="section-2-5" class="screenshots">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Screenshots</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

        </div>

        <!-- screenshots 2 wrap -->
        <div class="screenshots-02-wrap">
            <div class="item">
                <img src="assets/images/screens/1.jpg" alt="screenshot" />
            </div>
            <div class="item">
                <img src="assets/images/screens/2.jpg" alt="screenshot" />
            </div>
            <div class="item">
                <img src="assets/images/screens/4.jpg" alt="screenshot" />
            </div>
            <div class="item">
                <img src="assets/images/screens/5.jpg" alt="screenshot" />
            </div>
            <div class="item">
                <img src="assets/images/screens/8.jpg" alt="screenshot" />
            </div>
            <div class="item">
                <img src="assets/images/screens/11.jpg" alt="screenshot" />
            </div>
            <div class="item">
                <img src="assets/images/screens/1.jpg" alt="screenshot" />
            </div>
            <div class="item">
                <img src="assets/images/screens/2.jpg" alt="screenshot" />
            </div>
            <div class="item">
                <img src="assets/images/screens/4.jpg" alt="screenshot" />
            </div>
        </div>

    </section>
    <!-- Section screenshots 2 end -->

    <!-- Section Price 1 -->
    <section id="section-2-6" class="pricing odd">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Choose the Plan</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

            <div class="row">

                <!-- Plan 1 -->
                <div class="col-md-4 col-sm-4 col-xs-12 l40-1">
                    <div class="price-table">
                        <div class="header text-center">
                            <span class="icon-happy"></span>
                            <h2>Personal</h2>
                            <h1><span class="currency">$</span>19</h1>
                        </div>
                        <div class="content">
                            <ul class="list-style">
                                <li>Stunning design</li>
                                <li>Drag and drop page builder</li>
                                <li>+80 Unique section elements</li>
                                <li>No code knowledge required</li>
                                <li>Only in $17</li>
                            </ul>
                        </div>
                        <div class="footer text-center">
                            <a href="#" class="btn btn-default">Purchase</a>
                        </div>
                    </div>
                </div>

                <!-- Plan 2 Recommended -->
                <div class="col-md-4 col-sm-4 col-xs-12 b40-1">
                    <div class="price-table recommended">
                        <div class="header text-center">
                            <span class="icon-heart"></span>
                            <h2>Premium</h2>
                            <h1><span class="currency">$</span>24</h1>
                        </div>
                        <div class="content">
                            <ul class="list-style">
                                <li>Stunning design</li>
                                <li>Drag and drop page builder</li>
                                <li>+80 Unique section elements</li>
                                <li>No code knowledge required</li>
                                <li>Only in $17</li>
                            </ul>
                        </div>
                        <div class="footer text-center">
                            <a href="#" class="btn btn-default">Purchase</a>
                        </div>
                    </div>
                </div>

                <!-- Plan 3 -->
                <div class="col-md-4 col-sm-4 col-xs-12 r40-1">
                    <div class="price-table">
                        <div class="header text-center">
                            <span class="icon-lightbulb"></span>
                            <h2>Ultimate</h2>
                            <h1><span class="currency">$</span>40</h1>
                        </div>
                        <div class="content">
                            <ul class="list-style">
                                <li>Stunning design</li>
                                <li>Drag and drop page builder</li>
                                <li>+80 Unique section elements</li>
                                <li>No code knowledge required</li>
                                <li>Only in $17</li>
                            </ul>
                        </div>
                        <div class="footer text-center">
                            <a href="#" class="btn btn-default">Purchase</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Section Price 1 end -->

    <!-- Section team -->
    <section id="section-2-7" class="team">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>The Developers</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

            <div class="row"><!-- row -->

                <!-- item 1 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="assets/images/team1.jpg" alt="team" />
                        </div>
                        <h3>John Doe</h3>
                        <span>Ceo Founder & Developer</span>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="assets/images/team2.jpg" alt="team" />
                        </div>
                        <h3>Steve Doe</h3>
                        <span>Frontend Developer</span>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="assets/images/team3.jpg" alt="team" />
                        </div>
                        <h3>Johnatan Doe</h3>
                        <span>UI/UX Designer</span>
                    </div>
                </div>

                <!-- item 4 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="thumb">

                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>

                            <div class="overlay overlay-colored"></div>

                            <img src="assets/images/team4.jpg" alt="team" />
                        </div>
                        <h3>Jack Doe</h3>
                        <span>The Developer</span>
                    </div>
                </div>

            </div><!-- row end -->

        </div>
    </section>
    <!-- Section team end -->

    <!-- Section review 2 -->
    <section id="section-2-8" class="reviews-2 odd">
        <div class="container container-600">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Reviews</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
            </div>

            <!-- wrapper -->
            <div class="reviews-slide">
                <!-- Item 1 -->
                <div class="item">
                    <div class="user">
                        <div class="thumb">
                            <img src="assets/images/team1.png" alt="review" />
                        </div>
                        <div class="info clearfix">
                            <h3>- John Doe</h3>
                            <span>Ceo of Company</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
                <!-- Item 2 -->
                <div class="item">
                    <div class="user">
                        <div class="thumb">
                            <img src="assets/images/team1.png" alt="review" />
                        </div>
                        <div class="info clearfix">
                            <h3>- John Doe</h3>
                            <span>Ceo of Company</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
            </div>

        </div>
    </section>
    <!-- Section review 2 end -->

    <!-- Section clients -->
    <section id="section-2-9" class="clients">
        <div class="container">
            <div class="row text-center">

                <!-- item 1 -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client-item">
                        <img src="assets/images/clients/2.png" alt="clients" />
                    </div>
                </div>

                <!-- item 2 -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client-item">
                        <img src="assets/images/clients/4.png" alt="clients" />
                    </div>
                </div>

                <!-- item 3 -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client-item">
                        <img src="assets/images/clients/2.png" alt="clients" />
                    </div>
                </div>

                <!-- item 4 -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client-item">
                        <img src="assets/images/clients/4.png" alt="clients" />
                    </div>
                </div>

                <!-- item 5 -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client-item">
                        <img src="assets/images/clients/2.png" alt="clients" />
                    </div>
                </div>

                <!-- item 6 -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="client-item">
                        <img src="assets/images/clients/4.png" alt="clients" />
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Section client end -->

    <!-- Section download 2 -->
    <section id="section-2-10" class="download-cta-2 colored">

        <div class="container">
            <div class="row flex">

                <div class="col-md-8 col-sm-12 col-xs-12">
                    <!-- cta -->
                    <div class="cta">
                        <h2>Let's start with Pixa Landing Page</h2>
                        <p>Pixa is specially designed for your Mobile Application</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- cta buttons -->
                    <div class="cta text-center">
                        <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                            <span class="text">
                                <span class="little">Download on the</span><br>App Store
                            </span>
                        </a>
                        <a href="#" class="btn btn-primary btn-download hvr-float-shadow">
                            <i class="fa fa-android" aria-hidden="true"></i>
                            <span class="text">
                                <span class="little">Get it on</span><br>Google Play
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- Section download 2 end -->

    <!-- Section subscribe 2 -->
    <section id="section-2-11" class="subscribe">
        <div class="container">

            <!-- section header -->
            <div class="section-header text-center">
                <h2>Stay Tuned!</h2>
                <p>Trust us. We never send trash messages to you.</p>
            </div>

            <!-- form -->
            <div class="container container-750">

                <form id="mailchimp" method="post" action="http://themeforest.us12.list-manage.com/subscribe/post?u=fb2bdc0a1266cefb76bf70058&amp;id=3a5f127651">

                    <div class="row"><!-- Row -->

                        <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1"><!-- Name input -->
                            <div class="form-group mb-0">
                                <input type="text" class="form-control" name="FNAME" id="SubName" placeholder="Your name" required>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12"><!-- Email input -->
                            <div class="form-group mb-0">
                                <input type="email" class="form-control" id="EMAIL" name="SubEmail" placeholder="Email address" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" name="submit" value="Submit" class="btn btn-default btn-lg pull-left">Subscribe</button><!-- Send Button -->
                        </div>

                        <div class="sub-result"><p class="result"></p></div>

                    </div><!-- Row end -->

                </form>

            </div>

        </div>
    </section>
    <!-- Section subscribe 2 end -->

    <!-- Section footer 1 -->
    <footer id="footer-1" class="footer footer-dark">
        <div class="container">

            <!-- footer logo -->
            <img src="{% static 'website/images/logo-light.png' %}" class="footer-logo" alt="logo-footer" />

            <!-- footer menu -->
            <ul class="footer-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <!-- copyright text -->
            <span class="copyright">© Copyright 2017 Quicklic, All Rights Reserved. <br />Designed & Developed with passion and <i class="fa fa-heart" aria-hidden="true"></i> in Pakistan.</span>

            <!-- social icons -->
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>

        </div>
    </footer>
    <!-- Section footer 1 end -->

    {% include 'website/includes/footer_includes.html' %}

{% endblock %}