<!-- Preloader -->
<div class="preloader-outer">
<div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar"></div>
</div>

<!-- Navbar 1 -->
<nav class="navbar navbar-default navbar-static">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class=
            "navbar-toggle collapsed" data-target="#navbar" data-toggle=
            "collapse" type="button"><span class="sr-only">Toggle
            navigation</span> <span class="icon-bar"></span> <span class=
            "icon-bar"></span> <span class="icon-bar"></span></button>

            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'website:home' %}">Quicklic</a>
            <span class="slogan">Blogs</span>
            <!-- Logo end -->

        </div>
        <div class="navbar-collapse collapse" id="navbar">

            <div class="navbar-right">

                <!-- Menu -->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'website:home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'website:blog-list' %}">All Blogs</a>
                    </li>
                </ul>
                <!-- Menu end -->

                <ul class="nav navbar-nav social">
                    <li><a href="#" class="external"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="external"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>

            </div>

        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- Navbar 1 end -->