{% load static %}

<!-- SCRIPTS -->
<script type="text/javascript" src="{% static 'website/js/jquery-1.12.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.single-page.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.ajaxchimp.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/countdown.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/scrollreveal.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/custom.js' %}"></script>

<!-- Style Changer -->
<script type="text/javascript" src="{% static 'website/demo/style_switcher.js' %}"></script>