{% load static %}

<!-- Section footer 1 -->
<footer id="footer-1" class="footer">
    <div class="container">

        <!-- footer logo -->
        <img src="{% static 'website/images/logo-light.png' %}" class="footer-logo" alt="logo-footer" />

        <!-- copyright text -->
        <span class="copyright">© Copyright 2017 Quicklic, All Rights Reserved. <br />Designed & Developed with passion and <i class="fa fa-heart" aria-hidden="true"></i> in Pakistan.</span>

        <!-- social icons -->
        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>

    </div>
</footer>