{% load static %}

<!-- Preloader -->
<div class="preloader-outer">
    <div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar"></div>
</div>

<!-- Navbar 2-1 -->
<nav class="navbar navbar-default navbar-light navbar-fixed-top top-nav">
    <div class="container">
        <div class="navbar-header flex">
            <button aria-controls="navbar" aria-expanded="false" class=
            "navbar-toggle collapsed" data-target="#navbar" data-toggle=
            "collapse" type="button"><span class="sr-only">Toggle
            navigation</span> <span class="icon-bar"></span> <span class=
            "icon-bar"></span> <span class="icon-bar"></span></button>

        </div>
        <div class="navbar-collapse collapse" id="navbar">

            <div class="navbar-right">

                <!-- Menu -->
                <ul id="slide-menu" class="nav navbar-nav">
                    <li>
                        <a href="#section-2-1">Home</a>
                    </li>
                    <li>
                        <a href="#section-2-3">Features</a>
                    </li>
                    <li>
                        <a href="#section-2-5">Screenshots</a>
                    </li>
                    <li>
                        <a href="#section-2-8">Team</a>
                    </li>
                    <li>
                        <a href="#section-2-11">Contact</a>
                    </li>
                    <li>
                        <a class="external" href="{% url 'website:blog-list' %}">Blog</a>
                    </li>
                </ul>
                <!-- Menu end -->

                <div class="nav navbar-nav navicon-wrap">
                    <span class="navicon"></span>
                </div>

                <ul class="nav navbar-nav social">
                    <li><a href="#" class="external"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="external"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>

            </div>

        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- Navbar 2-1 end -->